<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Cooper V6" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Cooper V6" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
	
	  <% if user_signed_in? %>
  
	   <div class='space'>coopersystem.srv.br</div>
	  
	     <p align='center'>  <img src="http://cooper1.s3.amazonaws.com/lb4A.jpg"  width="100%" height="20%" /> </p>
       </div>

	  <%end%>
	
	
	
	
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
